<div class="container" id="pwd">
  <h2>Resend confirmation instructions</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
     <!-- <%#= f.label :email %><br /> -->
      <%= f.email_field :email, :class=>"form-control", :style=>"width:100%", :placeholder=>"Your Email here", autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", :class=>"btn btn-warning", :style=>"width:100%" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>