<!--<p id="notice"><#%= notice %></p>-->

<h1><br>Users</h1>
<div class="container" id="users_form">
  <table>
    <thead>
      <tr >
        <th style="padding: 15px 0  15px 0; font-family: Futura, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1;">First Name</th>
        <th style="font-family: Futura, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1;">Last Name</th>
        <th style="font-family: Futura, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1;">Email</th>
        <th style="font-family: Futura, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1;">Show</th>
        <th style="font-family: Futura, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1;">Edit</th>
        <th style="font-family: Futura, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1;">Delete</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td style="padding: 15px 0  20px 0; color: #000000; font-family: Futura, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1;"><%= user.first_name %></td>
          <td style="padding: 15px 0  20px 0; color: #000000; font-family: Futura, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1;"><%= user.last_name %></td>
          <td style="padding: 15px 0  20px 0; color: #000000; font-family: Futura, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1;"><%= user.email %></td>
          <td bgcolor="#eaeaac"><%= link_to ('<span class="glyphicon glyphicon-user"></span>').html_safe, user, class:"btn btn-default btn-sm", role:"button" %></td>
          <td bgcolor="#ace9ea"><%= link_to ('<span class="glyphicon glyphicon-edit"></span>').html_safe, edit_user_path(user), class:"btn btn-default btn-sm", role:"button" %></td>
          <td bgcolor="#eaacac"><%= link_to ('<span class="glyphicon glyphicon-remove"></span>').html_safe, user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-default btn-sm", role:"button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<!--<#%= link_to 'New User', new_user_path %>-->
