<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container" id="product_new">
    <div class="field">
      <p><small><%= form.label :name %></small></p>
      <%= form.text_field :name, id: :product_name, :class=>"form-control",:placeholder=>"Product name" %>
    </div>

    <div class="field">
      <p><small><%= form.label :description %></small></p>
      <%= form.text_area :description, id: :product_description, :class=>"form-control",:placeholder=>"Product description" %>
    </div>

    <div class="field">
      <p><small><%= form.label :image_url %></small></p>
      <%= form.text_field :image_url, id: :product_image_url, :class=>"form-control",:placeholder=>"image_url" %>
    </div>

    <div class="field">
      <p><small><%= form.label :colour %></small></p>
      <%= form.text_field :colour, :class=>"form-control",:placeholder=>"Colour" %>
    </div>

    <div class="field">
      <p><small><%= form.label :price %></small></p>
      <%= form.text_field :price, :class=>"form-control",:placeholder=>"Price (only integers allowed)" %>
    </div>

    <div class="actions">
      <%= form.submit :class=>"btn btn-info", :style=>"width:100%" %>
    </div>
  </div>  
<% end %>
