
<div class="showcase">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4"> 
          <div class="product_item">
            <% num = product.id %>
            <%= link_to image_tag(product.image_url, class: "img-responsive item_pic"), "products/#{num}" %>
            <div class="card_block">
              <a href='products/<%= product.id %>'> <h2 id="product_name"><%= product.name %></h2></a>
              <% descr = product.description %>
              <% shortDescr = descr[0..90] %>
              <p id="descr"><%= shortDescr %>. . .</p>
            </div><!--card_block-->  
            <hr class="style-two">
            <div class="card_footer">  
              <strong> &nbsp;&nbsp;€<%= product.price %></strong>
              <a href="product_path<%= product.id %>"><button type="button" class="btn btn-success buy">Buy</button></a>
            </div>
             
          </div><!-- /div item -->
        </div><!-- /col -->
      </div><!-- /showcase -->