
<div class="showcase">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4"> 
          <div class="product_item">
            <% num = product.id %>
            <%= link_to image_tag(product.image_url, class: "img-responsive item_pic"), "products/#{num}" %>
            <a href='products/<%= product.id %>'> <h2><%= product.name %></h2></a>
            <% descr = product.description %>
            <% shortDescr = descr[0..47] %>
            <p><%= shortDescr %>...</p>
            <hr class="style-two">
            <strong> &nbsp;&nbsp;€<%= product.price %></strong>
            <a href="../orders"><button type="button" class="btn btn-success buy">Buy</button></a>
          </div><!-- /div item -->
        </div><!-- /col -->
      </div><!-- /showcase -->