<p id="notice"><%= notice %></p>

<h1>Products</h1>

<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Colour</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>
-->
  <tbody>
    
    <% @products.each do |product| %>
      <!--<tr>
        <td><#%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%=product.colour %></td>
        <td><%=product.price %></td>
        <!--
        <td><#%= link_to 'Show', product %></td>
        <td><#%= link_to 'Edit', edit_product_path(product) %></td>
        <td><#%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    -->
      <div class="showcase">
        <div class="col-sm-2 col-md-4">
          <div class="product_item">
            <% num = product.id %>
            <%= link_to image_tag(product.image_url, class: "img-responsive item_pic"), "products/#{num}" %>
            <a href='products/<%= product.id %>'> <h2><%= product.name %></h2></a>
            <% descr = product.description %>
            <% shortDescr = descr[0..55] %>
            <p><%= shortDescr %>...</p>
            <hr class="style-two">
            <strong> &nbsp;&nbsp;€<%= product.price %></strong>
            <a href="../orders"><button type="button" class="btn btn-success buy">Buy</button></a>
          </div><!-- /div item -->
        </div><!-- /col -->
      </div><!-- /showcase -->
    <% end %>
  </tbody>
<!--</table> -->

<br>
<!--
<#%= link_to 'New Product', new_product_path %>
-->
