<!--<p id="notice"><%= notice %></p>-->

	<br>
  <br>
  <h1><%= @product.name %></h1>
  <br> 
  <div class="col-xs-12 col-sm-8 col-md-7 col-lg-7">
	<%# if Rails.application.assets.find_asset(@product.image_url).nil? %>
    <% num = @product.id %>
    <%= link_to image_tag(@product.image_url, class: "img-responsive item_pic_2"), "../products/#{num}" %>
  </div><!--bootstrap grid-->
  <div class="col-xs-12 col-sm-4 col-md-5 col-lg-5"> 
    <div class="show">
	    <p class="full_description">
  	    <strong>Description:</strong>
  	    <%= @product.description %>
        <br><br>
        <strong>Colour:</strong>
        <%= @product.colour %>
        <br><br>
        <strong>Price:</strong>
        €<%= @product.price %>
        <br><br>
        <strong>Average Rating:</strong> 
        <div class="rated" data-score="<%= @product.average_rating %>"></div>
	    </p>

<!--	<p>
  	<strong>Image url:</strong>
  	<#%= @product.image_url %>
	</p>-->

      <hr class="style-null">
      <div class="product_show_footer">  
 	      <!--<a href="../orders"><button type="button" class="btn btn-success buy_2">Buy</button></a>-->
        <% if user_signed_in? %>
          <%= form_with(url: '/payments/create') do |form| %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
        <% else %>
          <%= link_to "<button class=\"btn btn-success buy_2\" type=\"button\"><span>Log In to Buy</span></button>".html_safe, new_user_session_path, message: "no" %>
        <% end %>
      </div>
      <br><br><br>
  </div><!--/show-->
    
</div><!--/Bootstrap grid-->  
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <br>
</div>
  <div class="col-xs-12 col-sm-10 col-md-6 col-lg-6">  
    <div class="container" id="new_comm">
      <% if user_signed_in? %>
        <%= render partial: 'new_comment' %>
      <% else %>
        <%= link_to "<button class=\"btn btn-success buy_2\" type=\"button\"><span>Log In to Review</span></button>".html_safe, new_user_session_path, message: "no" %>
      <% end %>
    </div>
      <div id="old_comm">
        <%= render partial:'comments' %>
      </div>
        <%= will_paginate @comments, class: 'flickr_pagination' %>
      <br><br><br>
  </div>


<div class="auxiliary_link">
	<%= link_to 'Edit', edit_product_path(@product) if current_user.try(:admin?) %> 
	<%= link_to 'Back', products_path if current_user.try(:admin?) %> 
	<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } if current_user.try(:admin?) %>
</div>


