<!DOCTYPE html>
<html>
  <head>
    <title>Summer</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Marck Script">
    
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Sigmar One">
  </head>

  <body>
    <div class="page-wrap">

    <!--navbar starts here-->
      <nav class="navbar navbar-default navbar-fixed-top">
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> -->
        <div class="container-fluid">
        <div class="row"> <!--to fix the container fluid padding issue--> 
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>          
              <div class="projectName navbar-brand">
                <!--<a href="../static_pages/index">Bike Berlin</a>-->
                <%= link_to "Bike Berlin", root_path %>
              </div> <!--end projectName -->       
            </div> <!--end navbar-header -->       
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <!--<li><a href="../static_pages/about">About</a></li>-->
                <li> <%= link_to "About", static_pages_about_path %></li>
                <li> <%= link_to "Products", products_path %></li>
                <li> <%= link_to "Basket", orders_path %></li>
                <li> <%= link_to "Users", users_path %></li>
                <li> <%= link_to "Contact", static_pages_contact_path %></li>
                <!-- Search Box -->
                <li>  <%= form_with(url: products_url, method: 'get') do |form| %>
                        <%= form.label :q, 'Search for:', class:"hidden" %>
                        <%= form.text_field :q, id: 'q', value: params[:q], class:"form-control", placeholder:"Search" %>
                        <%= form.submit 'Search', class:"btn btn-default" %>
                      <% end %>

                      <%= form_tag("/products", method: "get") do %> 
                        <%= label_tag(:q, "Search for:", class:"hidden") %>
                        <%= text_field_tag(:q, "", type:"text", class:"form-control", placeholder:"Search") %>
                        <%= submit_tag("Search", class:"btn btn-default") %>
                      <% end %>


                </li>
                <!-- Authentication -->
                <ul class="nav pull-right navbar-nav">
                <li>
                <% if user_signed_in? %>
                  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
                <% else %>
                  <%= link_to('Login', new_user_session_path) %>
                <% end %>
                </li>
              </ul> <!--nav pull-right-->
              </ul> <!--nav navbar-nav navbar-right-->          
            </div>
          </div><!--end row to fix padding  issue-->  
        </div> <!-- end nav container-->      
      </nav><!-- end navbar-->

       <!--flash notices for welcome message when you sign in-->
      <% if notice %>
        <p id="notice" class="alert alert-info notice" role="alert"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p id="alert" class="alert alert-info" role="alert"><%= alert %></p>
      <% end %>
      

      <%= yield %>

    </div>
    <footer class="site-footer">
      2017 <%= link_to "Stepan Dubovoy.", "http://aduestep.bitballoon.com" %> All rights reserved.
    </footer>

  </body>
</html>
